/* ------ Admin Panel ------- */
.admin-container {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    overflow: auto;
}

.adminsearch {
  background-color: #1c2632;
  padding: 1em;
  grid-template-columns: 1fr auto auto;
  width: 100%;
}

.adminsearch #search {
    background-color: #fff;
    color: black;
}

.search-container {
    display: flex;
    align-items: center;
}

.white-icon {
    color: white;
    margin-right: 10px; 
    font-size: 25px;
}

/* ------- Results ------- */

#results-users, #results-spaces, #results-groups { /* @ username */
    font-weight: bold;
    color: white; 
    max-height: 600vh;
    overflow: auto;
}

#results-users a, #results-spaces a { /* Name */
    font-size: 14px; 
    color: white; 
    text-decoration: underline;
}

.admin-options {
    display: flex;
    justify-content: space-between;
}

.admin-options button {
    flex: 1;
    text-align: center;
}

.admin-options button:active {
    background-color: white;
}