/* ------ Sidebar ------ */

.sidebar {
  width: 250px;
  background-color: #49535f;
  color: #fff;
  padding: 1em;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  padding: 1em;
  display: block;
}

.sidebar a:hover {
  background-color: grey;
  border-radius: 15px;
}

.sidebar a.active {
  font-weight: bold;
}

/* ------ Footer ------ */

.footer {
  text-align: center;
  padding: 10px;
  background-color: #2a3543;
  color: white;
  font-weight: bold;
}
