.flex-container .search-card {
    background-color: #1c2632;
    padding: 20px;
    flex: 1;
    padding: 1em;
    box-sizing: border-box;
    overflow: auto;
    margin-top: 0;
    margin-bottom: 0;
  }


.search-card h1 {
  color: white;
}

.search-card .search-page-results {
  background-color: #49535f;
  max-height: 500px;
  overflow-y: auto;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.search-card .search-page-results a {
  color: white;
}

.search-card .search-page-results a:hover {
  color: white;
  text-decoration: underline;
}

.search-card #filters .radio-label {
    color: white;
}

input#date {
  width: 25%;
  align-items: center;
  color: white !important;
}

.flex-container .search-card .searchbar {
  position: relative;
  width: 50%; /* You can adjust this value to your preference */
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.search-card .searchbar .results-container {
  position: absolute;
  width: calc(100% - 40px); /* Subtract the left and right padding of .search-card */
  left: 20px; /* Align the left edge with the search bar */
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  display: none;
  max-height: 500px; /* Set a maximum height */
  overflow-y: auto; /* Make it scrollable if the content exceeds the maximum height */
}


.search-card .searchbar .results-container a{
  color : #131a21;
}

.search-card h2 
{
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}


.search-card form button {
  flex : 1;
}

@media screen and (max-width: 768px) { 
  .side-searchpage,.side-searchbar {
    display: none;
  }
}


.results-container .user-username.search-page-card-user,
.results-container .space-content.search-page-card-space,
.results-container .group-content.search-page-card-group,
.results-container .comment-content.search-page-card-comment {
  margin-bottom: 0;
  z-index: 1000;
}

.results-container .search-user-card-username,
.results-container .search-space-card-content,
.results-container .search-group-card-content,
.results-container .search-comment-card-content {
  margin-top: 0;
  color: gray;
}

