/* ------ User ------- */

.userinfo {
  padding: 20px;
  background-color: #131a21;
  grid-template-columns: 1fr auto auto;
  flex: 1;
  margin-left: 0;
}

.user {
  font-weight: bold;
}

.user p {
  margin-bottom: 0;
}

.user a {
  color: white;
}

.username p {
  color: white;
  margin-top: 0;
}

.username p::before {
    
    content: "@";
}

.dot {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.button-container {
  display: flex;
}

.profile-container {
  display: flex;
  align-items: start;
}

.profile-info {
  margin-left: 20px;
}

.user p {
  color: white;
  margin-bottom: 0;
}

.follow-card {
    background-color: #1c2632;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 500px;
    color: white;
}

.follow-card #followsDiv {
    border-bottom: white solid 1px;
}

.follow-card #followersDiv {
    margin-top: 10px;
}

.follow-card ul #text {
    margin-right: 10px;
}

/* ------ Edit User ------ */

.edit-page-photo-options h4 {
    color: white;
}

.edit-user-container {
    margin: 0 auto;
    padding: 1em;
    max-width: 20em;
    border: 1px solid #000000;
    background-color: #1c2632;
}

.edit-user-container label {
    color: white;
}